
/* header */

.header{
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
}

/* main content */
.main-content{
    display: flex;
    justify-content: center;
}

#grid{
    display: grid;
    width: 400px;
    height: 400px;
}